<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content='text/html;charset=utf-8'>
    <meta name="viewport" content="width=700">
    <title>Filip Tepper</title>
    <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="Filip Tepper">
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/small-device.css" type="text/css" media="only screen and (max-width: 480px)">
  </head>
  <body>
    {{ content }}
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-275035-8']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
  </body>
</html>