---
layout: default
---

<div id="container" class="posting">
  <div id="header">
    <p><a href="/" rel="me author">Filip Tepper</a></p>
    <h1 id="title">{{ page.title }}</h1>
    <p class="date">{{ page.date | date_to_long_string }}</p>
  </div>

  <div id="content" class="entry">
    <div id="body">
      {{ content }}
    </div>

    <a href="https://twitter.com/share" class="twitter-share-button" data-via="filiptepper" data-size="large">Tweet</a>
    <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <div id="disqus_thread"></div>
  </div>

  {% include footer.html %}
</div>